<% provide(:title, 'Sign In')%>
<h1>Sign In</h1>

<%= form_for(:session, url: session_index_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign In", class: "btn" %>
<% end %>

<%= link_to("Sign up Now!", signup_path)%>
