<%= provide(:title, "Edit User" ) %>

<h1>Update your Profile</h1>

<%= render "shared/error_messages" %>

<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation"%>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save Changes", class: "btn" %>

  <%= gravatar_for @user %>

<% end %>